.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: 100%;
  margin: 25px;
}

.App-footer {
  background-color: #282c34;
  min-height: 5vh;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
